@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #003566;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* NAVBAR
================================================== */
.Navbar{
  display: flex;
  flex-direction: row;
  margin: 55px 0px 55px 0px;
  justify-content: space-around;
  align-items: center;
}
.h-nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
}
.l-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap:430px;
  width: auto;
  margin-bottom: 30px;
}

.logo-brand{
  display: flex;
  width: 120px;
  height: auto;
}

.popular{
  display: inline-flex;
  align-items: center;
  justify-content: right;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.5rem 1.4rem;
  border-radius:20px;
  margin-inline-start:center; 
  font-weight: 500;
  color: rgb(107 114 128 / 1); 
  background-color: rgb(229 231 235 / 1);
}
#metamask_w:hover{
  cursor: pointer;
}

/* TOGGLE SWITCH MOBILE VIEW
================================================== */
.toggleSwitch {
  background: none;
  display: flex;
  cursor: pointer;
  z-index: 2;
}

/* CSS for switch when "on"*/
.toggleSwitch.on {
  background-color: none;
  justify-content: flex-end;
  /* for smooth transition*/
  transition: 0.5s ease-in-out;
}

/*CSS for switch when "off"*/
.toggleSwitch.off {
  background-color: none;
  justify-content: flex-start;
}

.toggleSwitch div {
  border-radius: 100%;
}

#btn-tg{
  display: flex;
  width: 55px;
  height: 50%;
  border-radius: 100%;
  display: none;
  outline: none;
}

#btnConnect{
  display: flex;
  color: #003566;
  font-size: 15px;
  background-color: #F5CC00;
  border-radius: 89px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: fit-content;
  padding: 10px 26px 10px 26px;
  border: none;
  outline: none;
}
#btnConnect:hover{
 cursor: pointer;
 background-color: #003566;
 color: #F5CC00;
 outline: solid 2px #F5CC00;

}
#connect-icon{
  color: #F5CC00!important;
  outline: 1px whitesmoke;
}

/* SIDE BAR
=====================================*/
.ct-sidebar{
  z-index: 1;
  position: absolute;
  margin-top: 80%;
}






/* Media - Screen
=====================================*/
@media only screen and (max-width: 1200px)  {
  .l-nav{
    column-gap: 150px!important;
  }
  #btnConnect{
    padding: 10px 24px 10px 24px;
    font-size: small;
  }
}

@media only screen and (max-width: 768px)  {
  .l-nav{
    column-gap: 120px!important;
  }
  #btnConnect{
    padding: 10px 22px 10px 22px;
    font-size: small;
  }
}

@media only screen and (max-width: 500px) {
  .l-nav{
    column-gap: 43px!important;
  }
  #btnConnect{
    padding: 8px 12px 8px 12px;
    font-size: 9px;
  }

}


