@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #003566;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* NAVBAR
================================================== */
.Navbar{
  display: flex;
  flex-direction: column;
  margin: 0px 0px 55px 0px;
  justify-content: space-around;
  align-items: center;
}
.h-nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
}
.l-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap:340px;
  width: auto;
  margin-bottom: 30px;
}

.logo-brand{
  display: flex;
  width: 120px;
  height: auto;
}

.popular{
  display: inline-flex;
  align-items: center;
  justify-content: right;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.5rem 1.4rem;
  border-radius:20px;
  margin-inline-start:center; 
  font-weight: 500;
  color: rgb(107 114 128 / 1); 
  background-color: rgb(229 231 235 / 1);
}
#metamask_w:hover{
  cursor: pointer;
}

/* TOGGLE SWITCH MOBILE VIEW
================================================== */
.toggleSwitch {
  background: none;
  display: flex;
  cursor: pointer;
  z-index: 2;
}

/* CSS for switch when "on"*/
.toggleSwitch.on {
  background-color: none;
  justify-content: flex-end;
  /* for smooth transition*/
  transition: 0.5s ease-in-out;
}

/*CSS for switch when "off"*/
.toggleSwitch.off {
  background-color: none;
  justify-content: flex-start;
}

.toggleSwitch div {
  border-radius: 100%;
}

#btn-tg{
  display: flex;
  width: 55px;
  height: 50%;
  border-radius: 100%;
  display: none;
  outline: none;
}

#btnConnect{
  display: flex;
  color: #003566;
  font-size: 15px;
  background-color: #F5CC00;
  border-radius: 89px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: fit-content;
  padding: 10px 26px 10px 26px;
  border: none;
  outline: none;
}
#btnConnect:hover{
 cursor: pointer;
 background-color: #003566;
 color: #F5CC00;
 outline: solid 2px #F5CC00;
}
#btnConnect img{
  display: flex;
  width: 42px;
  height: auto;
}
#btnConnect span{
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
/* SIDE BAR
=====================================*/




/* MENU
=====================================*/
.Menu-nav{
  display: none;
  font-size: larger;
}
.Menu-nav a{
  color:  whitesmoke;
  font-weight: 300;
}
.Menu-nav a:hover{
  color: #F5CC00;
}

/* Inbox Messages
=====================================*/
#inbox-msg{
  display: flex;
  color: whitesmoke;
  font-size: medium;
  padding-top: 1%;
  justify-content: center;
  align-items: center;
  margin-inline-start: auto;
  padding-right: 6%;
  margin-bottom: 10px;
}
#inbox-msg span img{
  width: 30px;
  height: auto;
  margin-right: 5px;
}
#inbox-msg label{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  margin-top: -11px;
  font-size: smaller;
  background-color: red;
  border-radius: 10%;
  width: 16px;
  height: 16px;

}







/* Media - Screen
=====================================*/
@media only screen and (max-width: 1368px)  {
  .l-nav{
    column-gap: 145px!important;
  }
  #btnConnect{
    padding: 10px 24px 10px 24px;
    font-size: small;
  }
}

@media only screen and (max-width: 768px)  {
  .l-nav{
    column-gap: 120px!important;
  }
  #btnConnect{
    padding: 10px 22px 10px 22px;
    font-size: small;
  }
}

/* Mobile View */
@media only screen and (max-width: 500px) {
  .l-nav{
    column-gap: 43px!important;
  }
  #btnConnect{
    padding: 8px 12px 8px 12px;
    font-size: 9px;
  }
  .ct-sidebar{
    z-index: 1;
    position: absolute;
    margin-top: 80%;
    margin-left: -10px;
  }
  #inbox-msg{
    display: none;
  }
  .Navbar{
    margin: 55px 0px 55px 0px;
  }
}
@media only screen and (max-width: 400px) {
  .l-nav{
    column-gap: 32px!important;
  }
  .logo-brand{
    width: 100px;
    height: auto;
  }
  #btnConnect{
    padding: 5px 9px 5px 9px;
    font-size: 9px;
  }
  #connect-icon{
    width: 10px;
    height: auto;
  }
  .ct-sidebar{
    z-index: 1;
    position: absolute;
    margin-top: 80%;
    margin-left: -10px;
  }
}

/* Menu Navbar */
@media only screen and (min-width: 768px) {
  .Menu-nav{
    display: flex;
    column-gap: 60px;
  }
  .con-btn{
    display: flex;
  }
}


