
.h-chl-c{
    display: flex;
    justify-content: center;
}
.chl-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-bottom{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px;
}

@media only screen and (max-width: 500px) {
    .content-bottom{
        font-size: 16px;
        padding: 55px;
    }
}