
.p-l-page{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.l-b-page{
    display: flex;
    justify-content: flex-start;
    padding: 40px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.l-board{
    display: flex;
    justify-content: center;
    background-color: #f5cc00;
    border-radius: 15px;
    padding: 20px;
}
.l-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    }
    .t-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .t-h{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 220px;
        border-bottom: 1px solid whitesmoke;
    }
    .t-b{
        display: flex;
        padding: 5px;
        flex-direction: row;
        justify-content:space-between;
        gap: 79px;
    } 
    
    
@media only screen and (max-width: 500px) {
    .l-board{
        width: fit-content;
        height: auto;
    }
    .t-h {
        font-size: 13px;
        gap: 95px;
    }
    .t-b{
        padding: 3px;
        font-size: 15px;
        gap: 40px;
    }
    .l-addr{
        width: 200px;
        font-size:13px;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 400px) {
    .l-board{
        padding: 10px;
    }

}